@{
    ViewData["Title"] = "Paiement éffectué";
}

<div class="container mt-5 text-center">
    <div class="alert alert-success">
        <h2> Paiement réussi !</h2>
        <p>Votre commande a bien été traitée. Merci pour votre achat.</p>
    </div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Retour à l'accueil</a>
</div>